__pycache__/
/.idea/
.env/
text-to-speech/mimic1/*
*/api_key
text-to-speech/mimic1
env/
.vscode/
mouseClickHandler.bin
venv/
server.conf
*/.idea
frontend/venv/*
frontend/__init__.py
*.conf
config.py
*.mp3
whatIs-New
