certifi==2020.4.5.1
chardet==3.0.4
idna==2.9
requests==2.23.0
urllib3==1.25.9
SpeechRecognition==3.8.1
PyAudio==0.2.11
oauth2client==4.1.3
google-api-python-client==1.8.3
gcloud==0.18.3
-e git+https://github.com/mycroftai/adapt@7b8a743fad48968ca58ea0a1962f98f4bfe626c2#egg=adapt_parser
systemd==0.16.1
pyjokes==0.6.0
inflect==4.1.0
PyUserInput==0.1.11
python-xlib==0.27
xlib==0.21
